<ul>
  <% articles.each do |article| %>
      <li> 
          <%= link_to article.title, article_path(article) %>
      </li>
    </br>
  <% end %>

</br>
  <%= link_to "New Blog", new_article_path %>
</ul>
