<h1>List of Blogs</h1>

<ul>
  <% @articles.each do |article| %>
    <li> 
        <%= link_to article.title, article_show_path(article) %>
    </li>
  <% end %>

  <%= link_to "New Blog", article_new_path %>
</ul>
