<main>
  <!-- blog content  -->
  <%= render 'articles/partials/blog_content', article: @article %>

  <!-- comments  -->
  <%= render 'comments/partials/comments', comments: @article.comments  %>

  <!-- comment form -->
  <%= render 'comments/partials/form', article: @article %>
</main>
<br>
<%= link_to "List of Blogs", articles_path %>
